.App {
  padding-top: 40px;
  text-align: center;
}

.Calendar-Item {
  overflow: auto;
  height: 120px;
  width: -webkit-fill-available;
  background-color: black;
  margin: 5px;
  cursor: pointer;
}
.Calendar-Item:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.Grid {
  padding-top: 50px;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  margin: auto;
  display: grid;
  justify-items: center;
}

button {
  background: #2c3e50;
  color: #00f7ff;
}
